<!-- films.component.html -->
<div class="table-container">
  <h2>Filmes</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Colunas da Tabela -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Diretor </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>

    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef> Data de Lançamento </th>
      <td mat-cell *matCellDef="let element"> {{element.release_date | date}} </td>
    </ng-container>

    <!-- Cabeçalho e Linhas da Tabela -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
