/* films.component.css */
.table-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os filhos ao centro no eixo transversal */
    
    margin-left: auto;
    margin-right: auto;
  }
  
  
  h2 {
    font-family: 'Star Jedi', Arial, sans-serif; /* Use uma fonte temática se disponível */
    color: #ffe81f; /* Cor amarela característica de Star Wars */
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em; /* Tamanho maior para destaque */
    text-shadow: 1px 1px 3px #000; /* Sombra para dar profundidade */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-transform: uppercase; /* Tudo em maiúsculas para mais impacto */
    padding: 10px; /* Espaçamento interno */
    border-top: 2px solid #ffe81f; /* Borda superior para destaque */
    border-bottom: 2px solid #ffe81f; /* Borda inferior para destaque */
    display: inline-block; /* Permite o alinhamento das bordas ao texto */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo levemente transparente */
    margin-top: 40px; /* Aumenta o espaço acima do título */
  }
  

  .progress {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    width: 100vw; /* Largura total da viewport */
    position: fixed; /* Fixa na viewport para garantir que fique sempre visível */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o spinner fique acima de outros elementos */
  }
  
  
  