/* films.component.css */
.table-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os filhos ao centro no eixo transversal */
    
    margin-left: auto;
    margin-right: auto;
  }
  
  
  h2 {
    color: #1976d2; /* Cor azul para o título, ajuste conforme o tema do seu app */
    margin-bottom: 20px; /* Espaço abaixo do título */
    text-align: center;
  }

  .progress {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    width: 100vw; /* Largura total da viewport */
    position: fixed; /* Fixa na viewport para garantir que fique sempre visível */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o spinner fique acima de outros elementos */
  }
  
  
  