/* films.component.css */
.table-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os filhos ao centro no eixo transversal */
    
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
  
  
  h2 {
    font-family: 'Star Jedi', Arial, sans-serif; /* Use uma fonte temática se disponível */
    color: #ffe81f; /* Cor amarela característica de Star Wars */
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em; /* Tamanho maior para destaque */
    text-shadow: 1px 1px 3px #000; /* Sombra para dar profundidade */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-transform: uppercase; /* Tudo em maiúsculas para mais impacto */
    padding: 10px; /* Espaçamento interno */
    border-top: 2px solid #ffe81f; /* Borda superior para destaque */
    border-bottom: 2px solid #ffe81f; /* Borda inferior para destaque */
    display: inline-block; /* Permite o alinhamento das bordas ao texto */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo levemente transparente */
    margin-top: 40px; /* Aumenta o espaço acima do título */
  }
  

  .progress {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    width: 100vw; /* Largura total da viewport */
    position: fixed; /* Fixa na viewport para garantir que fique sempre visível */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o spinner fique acima de outros elementos */
  }
  
  /* Exemplo de estilização */
button mat-icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container form {
  display: flex;
  align-items: center;
  border: 2px solid #000; /* Borda preta para o formulário */
  border-radius: 20px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que nada saia fora da borda arredondada */
}

.search-container input {
  flex-grow: 1;
  padding: 10px;
  border: none; /* Remove a borda do input */
  outline: none; /* Remove o contorno ao focar */
  border-radius: 20px; /* Bordas arredondadas */
}

.search-container button {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  outline: none; /* Remove o contorno ao focar */
}

.search-container mat-icon {
  font-size: 24px; /* Tamanho do ícone */
}


  